* {
    box-sizing: border-box;
}
.linkgrid__subtitle {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}
.linkgrid__column {
    display: grid;
    grid-template-columns: 40fr 60fr;
    margin-left: 1.3em;
    margin-right: 1em;
}
@media (max-width:900px) {
    .linkgrid__column {
        display: block;
    }
}
.linkgrid__figure-img {
    display: block;
    width: 450px;
    border-radius: 30px;
    padding-bottom: 5px;
}
@media (max-width:900px) {
    .linkgrid__column {
        display: block;
    }
}
@media (min-width: 1280px){
    .linkgrid__figure-img {
        width: 600px;
    }
}
@media (max-width: 900px){
    .linkgrid__figure-img {
        width: 550px;
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media (max-width: 700px){
    .linkgrid__figure-img {
        width: 450px;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.linkgrid__text {
    padding-top: 5%;
}

.linkgrid__figure {
    margin-top: 0;
}
.linkgrid__figure-figcaption a{
    display: table;
    text-transform: lowercase;
    font-style: oblique;
    margin: 0 auto;
    font-size: medium;
    color: antiquewhite;
    padding-bottom: 0;
    padding-top: 10px;   
}
.linkgrid__figure-figcaption a[href^="https"]::after {
    display: inline-block;
    background-image: url(../images/external-link.png);
    content: "";
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 6px;
    width: 14px;
    height: 14px;
}