.sociallink {
    list-style: none;
    display: inline-block;
    
}

.sociallink img {
    display: inline-flex;
    width: 10%;
}

.sociallink li a {
    font-size: 2em;
    text-decoration: none;
    font-family: "RobotoSlab";
    color: aliceblue;
}

.sociallink li a:hover {
    color: rgb(1, 20, 36);
}

.sociallink li a:active {
    color: rgb(218, 211, 7);
}

.telegramlink a[href^="https"]::before {
    display:inline-flex;
    background-image: url(../images/icon-telegram.png);
    content: "";
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 6px;
    width: 100px;
    height: 100px;
    padding-right: 40px;
    vertical-align: middle;
}

.vklink a[href^="https"]::before {
    display:inline-flex;
    background-image: url(../images/icon-vk.png);
    content: "";
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 6px;
    width: 100px;
    height: 100px;
    padding-right: 40px;
    vertical-align: middle;
}

.youtubelink a[href^="https"]::before {
    display:inline-flex;
    background-image: url(../images/icon-youtube.png);
    content: "";
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 6px;
    width: 100px;
    height: 100px;
    padding-right: 40px;
    vertical-align: middle;
}