* {
    box-sizing: border-box;
}
.link-item__subtitle {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}
.link-item__container {
    display: flex;
}
@media (max-width:900px) {
    .link-item__container {
        display: block;
    }
}
.link-item__figure-img {
    display: block;
    width: 450px;
    border-radius: 30px;
    padding-bottom: 5px;
}
@media (max-width:900px) {
    .link-item__container {
        display: block;
    }
}
@media (min-width: 1280px){
    .link-item__figure-img {
        width: 600px;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 900px){
    .link-item__figure-img {
        width: 550px;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 700px){
    .link-item__figure-img {
        width: 450px;
        display: flex;
        justify-content: center;
    }
}

.link-item__text {
    padding-top: 5%;
}

.link-item__figure {
    
    margin-top: 0;
}
.link-item__figure-figcaption a{
    display: table;
    text-transform: lowercase;
    font-style: oblique;
    margin: 0 auto;
    font-size: medium;
    color: antiquewhite;
    padding-bottom: 0;
    padding-top: 10px;   
}
.link-item__figure-figcaption a[href^="https"]::after {
    display: inline-block;
    background-image: url(../images/external-link.png);
    content: "";
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 6px;
    width: 14px;
    height: 14px;
}