.sociallink {
    font-size: 2em;
    display: grid;
    gap: 20px;
}
.sociallink__link-item {
    text-decoration: none;
    font-family: "RobotoSlab";
    color: aliceblue;
}
.sociallink__link-item:hover {
    color: rgb(1, 20, 36);
}
.sociallink__link-item:active {
    color: rgb(218, 211, 7);
}
.sociallink__link-item::before {
    display:inline-flex;
    content: "";
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 6px;
    width: 100px;
    height: 100px;
    padding-right: 40px;
    vertical-align: middle;
}
.sociallink__link-item_telegram::before {
    background-image: url(../images/icon-telegram.png);
}
.sociallink__link-item_vk::before {
    background-image: url(../images/icon-vk.png);
    content: "";
}
.sociallink__link-item_youtube::before {
    background-image: url(../images/icon-youtube.png);
    content: "";
}