* {
    box-sizing: border-box;
}

@font-face {
    font-family: "RobotoSlab"; 
    src: url("../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 

html {
    background-color: gray;
    font-family: "RobotoSlab";
    font-size: 20px;
    color: rgb(255, 255, 255);
    letter-spacing: 0.6px;
}

body {
    width: 100%;
    margin: 0 auto;
}
    @media (min-width: 1590px) {
        body {
            width: 70%;
            margin: 0 auto;
        }
    }
    @media (max-width: 700px){
        html {
            font-size: 1.1em;
        }
    }

.navigation {
    display: flex;
    position: sticky;
    top: 0px;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    gap: 20px;
}
.navigation:hover {
    background-color: rgba(0,0,0,0.6);
}
.navigation__link {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0 20px 0;
    text-decoration: none;
    color: aliceblue;
}
.navigation__link:hover {
    color: aqua;
}
.navigation__link:active {
    color: rgb(218, 211, 7);
}

.title {
    padding: 50px 0 90px 0;
    text-align: center;}
    @media (max-width: 900px){
        .title {
            font-size: 1.5em;}}

.aboutme{
    clear: both;
}    
.aboutme__blockphoto {
    float: left;
    /* margin: 0em; */
    padding-bottom: 0;
    margin-left: 1.3em;
    margin-right: 1.3em;
}
.aboutme__blockphoto-img {
    width: 450px;
    border-radius: 30px;
    padding-bottom: 5px;
}
@media (min-width: 1280px){
    .aboutme__blockphoto-img {
    width: 650px;
}
}
@media (max-width: 900px){
    .aboutme__blockphoto-img {
    width: 350px;
}
}
@media (max-width: 700px){
    .aboutme__blockphoto-img {
    width: 250px;
}
}
.aboutme__blockphoto-img-figcaption {
    text-align: center;
    text-transform: lowercase;
    font-style: oblique;
    margin: 0;
    text-align: center;
    font-size: medium;
    color: antiquewhite;
    padding-bottom: 0;
}
.aboutme__text {
    padding-right: 13px;
    padding-left: 13px;
}

.article__subtitle {
    padding: 50px 0 90px;
    text-align: center;
    clear:both;
    }
.article__gridarea {
    display:grid;
    grid-template-columns:40fr 60fr;
}
.article__text {
    padding-right: 10px;
    padding-left: 13px;
}
.article__iframe {
    border-radius: 15px;
    padding-right: 13px;
}
@media (max-width:900px) {
    .article__gridarea {
        display: block;
    }
}